<section id="allTrng">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sef-Paced Hands-On Workshops </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid container">
        <div>

            {% for training in site.selfpacetraining %}
            <a href="{{training.url}}" class="service-box1">
               
                    <div class="col-lg-6 col-sm-12 text-center "
                        style="border: 2px solid purple;   padding: 15px;         border-radius: 5px;">

                        <img src="../img/boxImage/{{training.SocialImage}}" class="img-responsive" alt="">


                        <div class="text-center">
                            <h4>{{training.socialTitle}}</h4>

                        </div>
                    
                </div>
            </a>

            {% endfor %}






        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Corporate Hands-On Workshops </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid container">
        <div>

            {% for training in site.training %}
            <a href="{{training.url}}" class="service-box1">
                <div class="col-lg-6 col-sm-12 text-center "
                    style="border: 2px solid purple;   padding: 15px;         border-radius: 5px;">

                    <img src="../img/boxImage/{{training.SocialImage}}" class="img-responsive" alt="">


                    <div class="text-center">
                        <h4>{{training.socialTitle}}</h4>

                    </div>
                </div>
            </a>

            {% endfor %}






        </div>
    </div>

</section>