<div class="backgroundPricing" id="pricingForm">
  <div class="container">
    <div class="panel pricing-table">

      <div class="pricing-plan col-lg-3 col-md-6 text-center">
        
        <h3 class="pricing-header">Try</h3>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 Week Access to Docker Basics Workshop</li>
          <li class="pricing-features-item">1 Certification </li>
          
        </ul>
        <span class="pricing-price">₹1</span>
        <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FP48CtAI91AXHv/view" data-text="Enrol Now" data-color="#528FF0" data-size="small">
          <script>
            (function(){
              var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
              if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
              s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
              rzp && rzp.init && rzp.init()}})();
          </script>
        </div>
            

      </div>
      <div class="pricing-plan col-lg-3 col-md-6 text-center">
        
        <h3 class="pricing-header">Lite</h3>
        <ul class="pricing-features">
          <li class="pricing-features-item">6 Months Access to DevOps Master  Architect WorkShop  Contents</li>
          <li class="pricing-features-item">12 Certification </li>
          <li class="pricing-features-item">12 Badges </li>
          
        </ul>
        <span class="pricing-price">₹7500</span>
        <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FP4Us15kATLMEX/view" data-text="Enroll Now" data-color="#528FF0" data-size="small">
          <script>
            (function(){
              var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
              if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
              s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
              rzp && rzp.init && rzp.init()}})();
          </script>
        </div>
            
      </div>

      <div class="pricing-plan col-lg-3 col-md-6 text-center">
        
        <h3 class="pricing-header">Elite</h3>
        <ul class="pricing-features">
          <li class="pricing-features-item">12 Months Access to DevOps Master Architect WorkShop Contents</li>
          <li class="pricing-features-item"> 12 Certification </li>
          <li class="pricing-features-item">12 Badges </li>
          <li class="pricing-features-item">3hrs of Doubt Clearance group Session </li>
          
        </ul>
        <span class="pricing-price">₹15,000</span>
        <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FP4SvWsD2mKWHT/view" data-text="Enrol Now" data-color="#528FF0" data-size="small">
          <script>
            (function(){
              var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
              if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
              s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
              rzp && rzp.init && rzp.init()}})();
          </script>
        </div>
            
            

      </div>



      

    </div>
  </div>
 

</div>