<section  id="pricing">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="section-title text-center pb-40">
          
            <h3 class="title">DevOps Master Architect Package </h3>,
        </div> <!-- section title -->
    </div>
</div> <!-- row -->
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">

        <div class="services-content mt-30">
          <h4 class="services-title"><a href="#"> Features </a></h4>
          <ul class="pricing-features">


            <li class="pricing-features-item">8 weeks + 4 weeks of exclusive learning on hands-on DevOps
            </li>
            <li class="pricing-features-item">24 hours of dedicated Live Doubt clearing session </li>
            <li class="pricing-features-item"> 45 hours of self-paced video content </li>
            <li class="pricing-features-item"> 15 + 1 Certifications as Verifiable Digital Credeantials </li>
            <li class="pricing-features-item"> Lifetime Access to QLS Slack DevOps Community</li>
            <li class="pricing-features-item"> 1:1 Live mentoring session of 1 hr with the trainer </li>
            <li class="pricing-features-item"> Live 1:1 Organisation’s/team’s DevSecOps maturity assessment </li>
            <li class="pricing-features-item"> 1:1 Mentoring with industry expert of 1 hr </li>
            <li class="pricing-features-item"> 100+ hours of curated online video contents</li>
            <li class="pricing-features-item"> Exclusive content access via LMS for 5 years
            </li>
            <li class="pricing-features-item"> Bonus worth $300 services and content included </li>



          </ul>



        </div>

      </div> <!-- single services -->
      
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      
       <div class="row justify-content-center" style="margin: 30px;">

        <div class="col-lg-12 col-md-12 col-sm-6">
          <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <del>$400</del>
            <span class="pricing-price">$200</span>
          <form>
            <script src="https://checkout.razorpay.com/v1/payment-button.js"
              data-payment_button_id="pl_GUIUMdrrlWfDPt" async> </script>
          </form>
          <p>Price for International Customers </p>
          <p> $200.00 all inclusive </p>
        </div>
      </div>

        <div class="col-lg-12 col-md-12 col-sm-6">
          <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <del>Rs25000</del>
            <span class="pricing-price">Rs 9990 + GST
          </span>
          <form>
            <script src="https://checkout.razorpay.com/v1/payment-button.js"
              data-payment_button_id="pl_H1dWfiaogCNQGi" async> </script>
          </form>
          <p>Price for Indian Customers </p>
          <p>Rs 9,990 + Rs 1,798 (gst) = Rs11,788 </p>
        </div>
        </div>
      </div>
    </div>
  </div>



</div>
</section>