<section  id="portfolio1">
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center">
                <div class="service-box1">
                    <h2 class="team-title">{{ page.portfolioHeaderA }} </h2>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe  width="560" height="315" src=" {{ page.portfolioHeaderLink }}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center">
                <div class="service-box1">
                    <h2 class="team-title">{{ page.portfolioHeaderB }}</h2>
                    <h3> {{page.portfolioHeaderBN }}</h3>
                    <div class="team-designation">
                        <h4>{{ page.portfolioHeaderB1 }}</h4>
                    </div>
                    <div class="team-content">{{ page.portfolioHeaderB1C }}</div>
                    <div class="team-social">
                        <div class="team-social-block">
                            <a href="https://www.linkedin.com/in/anju-dominic/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
