<section  id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-left">
                <h2 class="section-heading">{{page.USPH}}</h2>
                <hr class="light">
                <p >{{page.USP}}</p>
                <h1> - </h1>
            </div>
            
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-left">
                <h2 class="section-heading">{{ page.TContentH }}</h2>
                <hr class="light">
                <p class="section-heading">{{ page.TContentB }}</p>
                <a href="{{page.TContentLink}}"  class="btn btn-primary btn-xl" style="background-color:purple; color:white" >Download TOC </a>
            </div>
        </div>
    </div>
</section>