<section id="portfolio1">


    <div class="container">
        <div class="section-title">
            <div class="line"></div>
            <h3 class="title">About our trainers</h3>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center">
                <div class="service-box1">

                    <br>
                    <div class="team-social-block col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 text-left">

                                <a href="https://www.linkedin.com/in/anju-dominic/"> <img
                                    src="https://pluralsight.imgix.net/author/lg/13d01cd7-074c-433c-b239-d8c2ae7c12ef.jpeg"
                                    alt="Forest" style="width:100px">
                                </a>
                            </div>
                            <div class="col-lg-8 text-left">
                                <h4> Anju M Dominic</h4>
                                <div class="team-designation">
                                    <h6>Founder | Speaker | Author</h6>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div>
                        </div>

                    <div class="team-content text-left">
                        <p>Anju M Dominic is a well accredited professional corporate trainer and consultant in the field of DevOps . She has conducted over 150+ hands-on workshops across different product and service companies. She is also a trainer/author across various training companies including PluralSight, Edureka, KnowledgeHut, etc. She is currently the Principal consultant and founder of QuadraLogics, a boutique training/consulting firm. Anju is well known for her contributions to technical articles which includes two books and several whitepapers in the field of software engineering. She is also a regular speaker for many DevOps and Agile conferences</p>
                    </div>
                    <div class="team-social">

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center">
                <div class="service-box1">

                    <br>
                    <div class="team-social-block col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 text-left">

                                <a href="https://www.linkedin.com/in/ranjiththarayil/"> <img
                                    src="/img/RT.jpeg"
                                    alt="Forest" style="width:100px">
                                </a>
                            </div>
                            <div class="col-lg-8 text-left">
                                <h4> Ranjith Tharayil</h4>
                                <div class="team-designation">
                                    <h6> CTO  | Ex-Samsung </h6>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div>
                        </div>

                    <div class="team-content text-left">
                        <p>Ranjith Tharayil is an accomplished innovator, author, entrepreneur, technologist,CTO
                            adviser, and inspirational servant leader.He is currently the Founder and CTO
                            of a SAAS-based Digital Credential Platform CertifyMe.Online. He has also been honored with
                            the title "Mentor of change" by NITI Ayog, Govt of India, and was associated with the
                            Association for Computing Machinery as "ACM Distinguished Speaker". He has authored 10
                            patents, 30+ articles, and 3 books across different domains he has touched.</p>
                    </div>
                    <div class="team-social">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
