<section id="demo" class="services-area pt-120">
    <div class="container">
<div class="col-lg-10">
    <div class="section-title text-center pb-40">
        <div class="line m-auto"></div>
        <h3 class="title text-left">Demo Class</h3>,
    </div> <!-- section title -->
</div>

<div class="row">


    <div class="col-md-12 col-xs-12 text-left " style="margin-bottom: 20px;">
        <h3> Use Case </h3>
        <h5>You are the lead developer of your team and your Architect has requested your help in setting up a CI/CD server (JENKINS) for your applications under development. Installing and configuring a Jenkins server is time-consuming and error-prone . How would you approach this problem .  </h5>
    </div>


</div>
<div class="row">


    <div class="col-md-8 col-xs-12 text-left ">


        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/553665141?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;"
                title="1_Git.mp4"></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>

    </div>

    <div class="col-md-4 col-xs-12 text-left ">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>No.</td>
                    <td>Steps</td>
                    <td>Commands</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Run  Jenkins in a container</td>
                    <td>sudo docker run --name jenkins -p 8085:8080 anjurose/jenkins</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>View the Jenkins dashboard in the browser</td>
                    <td>Access your application at YOUR_ipaddress:8085</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Stop the container and exit it by Ctrl + c command</td>
                    <td>Ctrl + c</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>View the containers</td>
                    <td>sudo docker ps&nbsp;</td>
                </tr>
            </tbody>
        </table>


    </div>

    
</div>
</div>
</section>