<section id="toc">




    <div class="container " style="padding-left: 5px;">
        <div class>
            <div class="section-title">
                <div class="line"></div>
                <h3 class="title"><span> {{ page.TContentH }}</span></h3>

            </div>
            <div class="row">


                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-left">
                    
                    <hr class="light">
                    <p class="section-heading">{{ page.TContentB }}</p>
                    
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-left">

                    <div style ="margin-bottom: 30px;">
                    {% include corperate/form.html%}
                </div>
                    <hr class="light">
                    <p class="section-heading">{{ page.content }}</p>

                </div>

            </div>
        </div>
    </div>

</section>
