   <!--====== ABOUT PART START ======-->
    
   <section id="about" class="about-area pt-70">
    <div class="container" >
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content mt-50 wow " data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title"><span>What is</span> Use Case-based learning <span>?</h3>
                       
                    </div> <!-- section title -->
                    <p class="text" > Usecase-based learning approach engages learners in a hands-on exercise of specific scenarios that resemble real-world examples. This learner-centric method helps learners gain not only the required knowledge but the key skill to apply the gained knowledge. Focusing on learning how to apply knowledge is essential for practical subjects like DevOps. In our program we use Use Case-based learning technique. Our practitioner learns by exploring several hands-on, real-life scenarios. </p>
                    <a target="_blank" href="#toc" class="main-btn">{{page.HeadCTA}}</a>
                </div> <!-- about content --> 
            </div>	
            <div class="col-lg-6">
                <div class="about-image text-center mt-50 wow " data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="/img/trng/usecase.png" alt="about">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-shape-1">
        <img src="/assets/images/about-shape-1.svg" alt="shape">
    </div>
</section>

<!--====== ABOUT PART ENDS ======-->

