<div >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
    <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
    <form
        action='https://forms.zohopublic.in/rtharayil/form/ContactForm/formperma/agXZbp5FMssHL-DwhfiU0-dsAXDGkp4iuOIi4ODH_Fo/htmlRecords/submit'
        name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
        <div class="form-group" col-xs-8 >
            <input type="hidden" name="zf_referrer_name" value="">
            <!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
            <input type="hidden" class="form-control" name="zf_redirect_url" value="">
            <!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
            <input type="hidden" class="form-control" name="zc_gad" value="">
            <!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
            <h2>Request for Corporate Training  </h2>
            <p></p>
            <!--Single Line-->
            <label>Full Name
                <em>*</em>
            </label>
            <input type="text" name="SingleLine" style ="margin-bottom:  15px;" class="form-control" value="" fieldType=1 maxlength="255" />
            <!--Email-->
            <label>Email ID
                <em>*</em>
            </label>
            <input type="text" maxlength="255" class="form-control" style ="margin-bottom:  15px;" name="Email" value="" fieldType=9 />
            <!--Multi Line-->
            <label>Do tell us more about your training requirements 
            </label>
            <textarea name="MultiLine" class="form-control" maxlength="65535"></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>




</div>