<!DOCTYPE html>
<html lang="en">

{% include trngHead.html %}

<body id="page-top">
  {% include trngNav.html %}
  {% include trngHeader.html %}
  {% include trngServices.html %}
  {% include V1NewLook/features.html %}
  {% include trngTOC.html %}
  {% include pricingForm.html %}
  {% include trngProfile.html %}

  {% include trngTestimonial.html %}
  {% include V1NewLook/about.html %}
  {% include trngContact.html %}
  
  {% include footer.html %}
  {% include L2Scripts.html %}  
</body>

</html>